
        .btn {
            align-items: center;
            border: 0;
            border-radius: 5px;
            box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, .1);
            color: #fff;
            cursor: pointer;
            display: inline-grid;
            font-weight: 400;
            grid-template-areas: "prepend content append";
            grid-template-columns: max-content auto max-content;
            height: 50px;
            justify-content: center;
            min-width: 50px;
            overflow: hidden;
            padding: 0 20px;
            text-decoration: none
        }
        
        .btn__append,
        .btn__content,
        .btn__prepend {
            align-items: center;
            display: flex
        }
        
        .btn__prepend {
            grid-area: prepend;
            margin-right: 10px
        }
        
        .btn__content {
            grid-area: content;
            justify-content: center
        }
        
        .btn__append {
            grid-area: append
        }
        
        .btn:hover {
            box-shadow: none;
            text-decoration: none
        }
        
        .btn--primary {
            background-color: #be3a08;
            color: #fff
        }
        
        .btn--primary:hover {
            background-color: #8c1f0a;
            color: #fff
        }
        
        .btn--secondary {
            background-color: #fcc626;
            box-shadow: inset 0 -4px 0 0 rgba(243, 144, 17, .5);
            color: #852204
        }
        
        .btn--secondary:hover {
            background-color: #f59d17;
            color: #852204
        }
        
        .btn--tertiary {
            background-color: #f39011;
            box-shadow: inset 0 -4px 0 0 rgba(190, 58, 8, .2);
            color: #852204
        }
        
        .btn--tertiary:hover {
            background-color: #c86706;
            color: #852204
        }
        
        .btn--success {
            background-color: #6ab108;
            color: #fff
        }
        
        .btn--success:hover {
            background-color: #5b9907;
            color: #fff
        }
        
        .btn--links {
            background-color: #fbe195;
            color: #852204
        }
        
        .btn--links:hover {
            background-color: #fbcd42;
            color: #852204
        }
        
        .btn--clear {
            background-color: transparent;
            box-shadow: none;
            color: inherit
        }
        
        .btn--sm {
            height: 40px;
            min-width: 40px
        }
        
        .btn--lg {
            height: 70px;
            min-width: 70px
        }
        
        .btn--disabled {
            opacity: 50%
        }
        
        .btn--block {
            width: 100%
        }
        
        .btn--loading {
            pointer-events: none
        }
        
        .btn--icon {
            padding: 0
        }
   
        @keyframes pulse-b4a353a0 {
            0% {
                transform: scaleX(1)
            }
            50% {
                transform: scaleX(.8)
            }
            to {
                transform: scaleX(1)
            }
        }
        
        @keyframes bounce-b4a353a0 {
            0% {
                transform: translateY(0)
            }
            50% {
                transform: translateY(-10px)
            }
            to {
                transform: translateY(0)
            }
        }
        
        @keyframes rotation-b4a353a0 {
            0% {
                transform: rotate(0deg)
            }
            to {
                transform: rotate(1turn)
            }
        }
        
        .loader[data-v-b4a353a0] {
            animation: rotation-b4a353a0 .35s linear infinite;
            aspect-ratio: 1/1;
            border: 2px solid;
            border-color: #fff #fff transparent;
            border-radius: 50%;
            box-sizing: border-box;
            display: inline-block;
            height: 24px;
            width: 24px
        }
 
        .nuxt-icon {
            height: 1em;
            margin-bottom: .125em;
            vertical-align: middle;
            width: 1em
        }
        
        .nuxt-icon--fill,
        .nuxt-icon--fill * {
            fill: currentColor
        }

        svg[data-v-2b2d851c] {
            color: inherit
        }
